body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#wordContainer {
    margin-top: 20px;
}

#translationInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

#submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#resultMessage {
    margin-top: 10px;
    color: #FF6347;
}

#wordToTranslate {
    border: 2px solid #333; /* Add a 2px solid border with color #333 */
    padding: 10px; /* Add some padding to create space between the border and the text */
    display: inline-block; /* Make the element inline-block to fit the content */
}
