body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#wordContainer {
    margin-top: 20px;
}

#translationInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

#submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#resultMessage {
    margin-top: 10px;
    color: #FF6347;
}
