body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FF9800;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    color: white;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #FF9800;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: white;
  }
  
  .content {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  select, input, button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #FF9800;
    color: white;
    cursor: pointer;
  }
  
  #feedback {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #correctAnswer {
    font-style: italic;
  }
  