/* Global Styles */
html, body, ul {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header, footer {
    text-align: center;
    padding: 10px;
    background-color: orangered;
}

/* Index Page */
#index-header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}
#index-nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#index-nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1.2rem;
}
#index-nav a:hover {
    background-color: #ccc;
}

/* Aardrijkskunde Page */
.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flashcard {
    width: 300px;
    height: 300px;
    background-color: orangered;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    font-size: 1.5em;
}
.back {
    display: none;
}
.show {
    display: block;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004d98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Taal Page */
header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: orangered;
}
#wordContainer {
    width: 100%;
    margin-top: 20px;
}
#translationInput {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000000;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 15px;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    box-sizing: border-box;
}
.button, #nextBtn, .btn {
    background-color: #004d98;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    width: calc(100% - 40px);
}
.button:hover, #nextBtn:hover, .btn:hover {
    background-color: #002450;
}
